{% extends "base.html" %}

{% block content %}
<div class="container my-5">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for album in albums %}

        <tr>
            <th scope="row">{{album.id}}</th>
            <td>
                <a href="{% url "editMusician" album.musician.id %}" class="link">
                {{album.musician.firstName}}&nbsp;{{album.musician.lastName}}
                </a>
            </td>
            <td>{{album.musician.email}}</td>
            <td>{{album.rating}}</td>
            <td>{{album.musician.instrument}}</td>
            <td>{{album.name}}</td>
            <td>{{album.released}}</td>
            <td>
                <a href="{% url "editAlbum" album.id %}">
                    <button class="btn btn-warning">Edit</button>
                </a>
                <a href="{% url "deleteMusician" album.musician.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}