{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    {% if messages %}
    {% for m in messages %}
    <div class="mt-2 alert {% if m.tags == 'error' %}alert-danger {% elif m.tags == 'success' %}alert-success {% endif %}" role="alert">
        &#x2022; {{m}}
      </div>
    {% endfor %}
    {% endif %}
<table class="table table-striped my-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            {% if user.is_authenticated %}
            <th scope="col">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for album in albums %}

        <tr>
            <th scope="row">{{album.id}}</th>
            <td>
                {% if user.is_authenticated %}
                <a href="{% url "editMusician" album.musician.id %}" class="link">
                    {{album.musician.firstName}}&nbsp;{{album.musician.lastName}}
                </a>
                {% else %}
                {{album.musician.firstName}}&nbsp;{{album.musician.lastName}}
                {% endif %}
            </td>
            <td>{{album.musician.email}}</td>
            <td>{{album.rating}}</td>
            <td>{{album.musician.instrument}}</td>
            <td>{{album.name}}</td>
            <td>{{album.released}}</td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url "editAlbum" album.id %}">
                    <button class="btn btn-warning">Edit</button>
                </a>
                <a href="{% url "deleteMusician" album.musician.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}