{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="d-flex row gap-5 flex-wrap my-5 align-items-center">
        <img class="col-10 col-lg-6" src="{{car.image.url}}" alt="car-photo" style="border-radius: 30px;">
        <div class="col-10 col-lg-5">
            <h1 class="my-3">{{car.brand.name}} {{car.name}}</h1>
            <p>Name: {{car.name}}</p>
            <p>Price: ${{car.price}}</p>
            <p>Brand: {{car.brand.name}}</p>
            <p>In stock: {{car.stock}}</p>

            {% if user.is_authenticated %}
            {% if car.stock > 0 %}
            <a class="btn btn-success" href="{% url 'buyCar' car.id %}">Buy now</a>
            {% else %}
            <a class="btn btn-outline-danger disabled" href="">Out of Stock</a>
            {% endif %}
            {% endif %}

            <p class="my-3">{{ car.description }}</p>
        </div>
    </div>
    <h2 class="mt-5">Comments</h2>
    <hr>

    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{comment.name}}</h5>
            <p class="card-text">{{comment.content}}</p>
        </div>
    </div>
    {% endfor %}
    <h2 class="mt-5">Add comment</h2>
    <hr>
    <form method="post" class="w-100 w-md-75 mb-5">
        {% csrf_token %}
        {{ form | crispy}}
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>

{% endblock content %}